<section class="jumbotron text-center">
  <div class="container">
    <img id="ea-main-logo" src="{{ "img/ea_logo.png" | absURL }}"/>
    <h1 class="jumbotron-heading">{{ .Site.Params.general.fullTitle }}</h1>
    <p class="lead text-muted">{{ .Site.Params.general.strapline }}</p>
    <p>
      <a href="{{ .Site.Params.jumbotron.FirstButtonLink }}" class="btn btn-primary btn-jumbotron">{{ .Site.Params.jumbotron.FirstButtonText }}</a>
      <a href="{{ .Site.Params.jumbotron.SecondButtonLink }}" class="btn btn-secondary btn-jumbotron">{{ .Site.Params.jumbotron.SecondButtonText }}</a>
      <a href="{{ .Site.Params.jumbotron.ThirdButtonLink }}" class="btn btn-danger btn-jumbotron">{{ .Site.Params.jumbotron.ThirdButtonText }}</a>
    </p>
  </div>
</section>
