<nav class="navbar navbar-expand-lg navbar-light bg-white static-top shadow-sm">
  <div class="container">
    <a class="navbar-brand py-1" href="{{ "/" | absLangURL }}">
      <img src="{{ "img/logo.png" | absURL }}" alt="{{ .Site.Params.general.fullTitle }}">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto align-items-lg-center">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="aboutDropdown" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">{{ .Site.Params.navbar.EffectiveAltruism }}</a>
          <ul class="dropdown-menu" aria-labelledby="aboutDropdown">
            <li><a class="dropdown-item" href="{{ "effective-altruism" | absLangURL }}">{{ .Site.Params.navbar.AboutEA }}</a></li>
            <li><a class="dropdown-item" href="{{ "key-terms" | absLangURL }}">{{ .Site.Params.navbar.KeyTerms }}</a></li>
            <li><a class="dropdown-item" href="{{ "organizations" | absLangURL }}">{{ .Site.Params.navbar.Organizations }}</a></li>
            <li><a class="dropdown-item" href="{{ "reading-material" | absLangURL }}">{{ .Site.Params.navbar.ReadingMaterial }}</a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link" href="{{ "faq" | absLangURL }}">{{ .Site.Params.navbar.Faq }}</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ "calendar" | absLangURL }}">{{ .Site.Params.navbar.Calendar }}</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ "contact" | absLangURL }}">{{ .Site.Params.navbar.Contact }}</a></li>
        {{ partial "allLanguages.html" . }}
      </ul>
    </div>
  </div>
</nav>
