{{ partial "header.html" . }}

{{ partial "page-header.html" (dict "ctx" . "title" .Title) }}

<div class="container content-body">
  {{ with .Content }}
    <div class="row justify-content-center mb-4">
      <div class="col-lg-9 text-center">{{ . }}</div>
    </div>
  {{ end }}

  <div class="row">
    <div class="col-12">
      {{ partial "google-calendar.html" (dict "ctx" . "mode" "MONTH") }}
    </div>
  </div>

  <div class="row justify-content-center mt-4">
    <div class="col-lg-9 text-center">
      {{ with .Site.Params.groupinfo.googleCalendarId }}
        <a class="btn btn-primary" href="https://calendar.google.com/calendar/r?cid={{ . | urlquery }}">
          <i class="bi-calendar-plus me-2"></i>{{ $.Site.Params.pages.addToCalendarText | default "Add this calendar to your own" }}
        </a>
      {{ end }}
      {{ with .Site.Params.urls.SubstackUrl }}
        <a class="btn btn-outline-primary ms-2" href="{{ . }}">
          <i class="bi-envelope-paper me-2"></i>{{ $.Site.Params.homepage.newsletterButton | default "Subscribe to our newsletter" }}
        </a>
      {{ end }}
    </div>
  </div>
</div>

{{ partial "footer.html" . }}
